<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.archer.scheme.modulea">

    <application>
        <activity android:name=".ModuleaActivity" />
        <activity android:name="com.archer.scheme.modulea.ModuleaActivity2" />
    </application>

</manifest>